body {
    background: url("../images/knitting250px_@2X.png");
    
}

.main-section {
    background-color: rgb(255,178,178);
    width: 80%;
    height: 80%;

}

h1 {
    color: rgb(232, 209, 209);
}

#start {

}
