body {
    background: url("../images/rebel.png");
    
}

.main-section {
    background-color: rgb(255,178,178);
}

h1 {
    color: rgb(232, 209, 209);
}

.questions {
    color: rgb(255, 255, 255);
}


.answers {
    color: rgb(143, 178,153);

}